#wrapper
  #mypage
    .mypage__left
      = link_to "ホームに戻る", root_path, method: :get
      %section.menu
        %figure.member-photo
          =image_tag current_user.picture
          %img{alt:"", src:"#{asset_path "noimage-square.png"}", width:"115"}/
        %h2 #{current_user.name}
        %ul.side-menu
          %li
            %a{href:"/users/#{current_user.id}"} ダッシュボード
          %li
            %a{href:"/users/deliveries"} 送り先情報
          %li
            %a{href:"/users/#{current_user.id}/edit"} アカウント設定
          %br
          %li
            %a{href:"/users/order_histories"} 購入履歴
      .comment.w-box
        %h3 運営に意見を送る
        %form{:action => "/", :method => "post"}
          #feedback_div.textarea
            %textarea#feedback_message.style02.w100p{:placeholder => "ご意見・ご要望などございましたらこちらからお寄せ下さい。", :style => "font-size:12px; height:150px;"}
            %input#feedback_id{:name => "owner_id", :type => "hidden", :value => "2174"}/
          %input#feedback_submit.submit{:type => "button", :value => "送信"}/
    .mypage__content
      .newa-area
        %section.news-official
          %h2.account_h2 アカウント編集
          .w-box_edit
            .scroll-box_edit
              = form_for(@user) do |f|
                %article.clearfix
                  .product-edit
                    .w-box
                      %dl
                        %dt
                          氏名
                        %dd
                          .input
                            .input.text
                              = f.text_field :name, class:'Ownername', placeholder:' 氏名'
                      %dl
                        %dt
                          メールアドレス
                        %dd
                          .input
                            .input.email
                              = f.text_field :email, class:'Owneremail', placeholder:' メールアドレス'
                      %dl
                        %dt
                          プロフィール画像
                        %dd
                          .p-right
                            = f.file_field :picture
                  %br
                  .btn-parts{style: "margin-bottom:0;"}
                    = f.submit "更新", class: 'account_submit.btn-green'
