#wrapper
  %section.edit-area
    %h2 アカウント設定
    .edit-area
    = form_for(@user) do |f|
      %article.clearfix
        .product-edit
          .w-box
            %dl
              %dt
                氏名
                %span ※
              %dd
                .input
                  .input.text
                    = f.text_field :name, class:'Ownername', placeholder:' 氏名'
            %dl
              %dt
                メールアドレス
                %span ※
              %dd
                .input
                  .input.email
                    = f.text_field :email, class:'Owneremail', placeholder:' メールアドレス'
            / %dl
            /   %dt
            /     パスワード
            /     %span ※
            /   %dd
            /     .input
            /       .input.password
            /         %input#OwnerPassword.jq-placeholder.w100p.style02{:name => "data[user][password]", :placeholder => "●●●●●●●", :type => "password", value: "#{@pw}"}/
            %dl
              %dt
                プロフィール画像
              %dd
                .p-right
                  = f.label :picture
                  = f.file_field :picture
          .w-box.clearfix{style: "margin-top:30px;"}
            .btn-parts
              %a.btn-nomal{href:"/users"} 戻る
            .btn-parts{style: "margin-bottom:0;"}
              = f.submit "更新", class: 'account_submit.btn-green'


