%body
  #wrapper
    #container.mypage-area
      .header
      = render partial: "header"
    %section#cart
      %h2 オーナープランお申し込み
      .cart-content
        .cart-main
          %section.form-content
            %h3 お申し込み内容
            %dl.application-detail
              %dt 登録プラン
              %dd #{@product.title}
              %dt 金額
              %dd
                ￥
                %span.price #{@product.price}
                %span.unit /一口
              %dt 購入数の登録
              %dd
              .input
                = form_for([@product,@order]) do |f|
                  %ul
                    %li.message
                      = f.select :num, [1, 2, 3], {include_blank: false}
                    %li
                      = f.submit "Send", class:'chat-footer__send'
    #product-content
      %article.content
        %section
          %figure
            %img{:alt => "", :height => "420", :s3 => "1", :src => "https://s3-ap-northeast-1.amazonaws.com/owners-pro/ProductContent/743/content_image/w740h420_IMG_0777.JPG", :ssl => "1", :width => "740"}/
          %h3 移住したい田舎。人も植物も健やかに育つ 長野県豊丘村
          %p
            長野県豊丘村。縄文時代の土器や土偶、古墳時代の須恵器などが村内のいたるところで発見されるなど、1万年以上も前から人が住みついていたとされるこの場所。はるか昔より、地の利を生かした独自の暮らしがある村です。
            %br/
            %br/
            諏訪湖を水源とし、長野県から太平洋へと流れ出る一級河川・天竜川が形成した日本一とうたわれる河岸段丘（かがんだんきゅう）の中心にあり、信州りんご、市田柿などの果樹や、自生する赤松林が多いことから、秋の味覚「信州松茸」の産地としても有名。
            %br/
            %br/
            南信州特有の澄んだ気候に、河岸段丘がつくる階段上の地形。自然と人々の暮らしの調和が一つの景色となるような、美しい村です。



