%a.item-link{href: "/products/#{product.id}"}
  -  num = product.rem
  - if  num == 0
    %p.order_end 受付終了
    %p.no_underline 申し込み上限に達しました
  - else
    %p.order_now 受付中
    %p.no_underline 残り #{product.rem}
  %section.items
    %figure.item-image
      %img
      =image_tag product.image, height: "223" , width: "340"
    %h2.top_product_title #{product.title}
    .info
      %p.place
        %i.fa.fa-map-marker
        #{product.area}
      %p.price
        %i.fa.fa-shopping-bag
        ¥ #{product.price}


